<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>폼 전송 결과 페이지</title>

  <style>
    span {
      color: blue;
      font-weight: 700;
    }
  </style>
</head>

<body>
  <h1><%= title %></h1>
  <div><span><%= id %></span>님 환영합니다!</div>
  <div>비밀번호는 <span><%= pw %></span>이군요!!</div>
</body>

</html>