@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
/* font-family: 'East Sea Dokdo', cursive; */

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'KimjungchulGothic-Bold';
}

.sentences {
  font-weight: 700;

  /* text-align: center;
  text-align: left;
  text-align: right; */

  text-decoration: line-through;
  text-decoration: underline;

  line-height: 2;
  font-family: 'Hi Melody', cursive;
}

a {
  text-decoration: none;
  color: black;
}

.font-import {
  font-family: 'East Sea Dokdo', 'Hi Melody', 'KimjungchulGothic-Bold', cursive;
}
