body {
  height: 2000px;
  background: linear-gradient(rgb(255, 255, 255), orange);
}

/* div {
  width: 100px;
  height: 100px;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
} */

.position-static {
  background-color: pink;
  /* position: static; */
  top: 100px;
  left: 50px;
}
.position-relative {
  background-color: aqua;
  position: relative;
  top: 100px;
  left: 100px;
}
.position-absolute {
  background-color: gold;
  opacity: 0.5;
  position: absolute;
  /* bottom: 0px; */
  /* left: 100px; */
  top: 50px;
  left: 0;
}
.position-fixed {
  background-color: coral;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* 실습 CSS */
.container {
  width: 500px;
  height: 500px;
  background-color: blue;
  position: relative;
}

/* 
.container > div {
  background-color: skyblue;
  width: 100px;
  height: 100px;
}
.container .item1 {
  position: relative;
  left: 50px;
  top: 30px;
}

.container .item2 {
  position: absolute;
  right: 30px;
  bottom: 100px;
}

.container .item3 {
  position: fixed;
  right: 100px;
  top: 100px;
} */

/* z-index */
.parent {
  position: relative;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  background-color: #9afaff;
  top: 0;
  left: 200px;
}

.circle2 {
  background-color: #84ff8d;
  top: 0;
  left: 150px;
}

.circle3 {
  background-color: #ffeb88;
  top: 0;
  left: 100px;
  z-index: 5;
}

.circle4 {
  background-color: #ffb680;
  top: 0;
  left: 50px;
  z-index: 3;
}

.circle5 {
  top: 0;
  left: 0;
  background-color: #ff7c7c;
}

.container > div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.item1 {
  background-color: red;
  z-index: 10;
}
.item2 {
  background-color: orange;
  top: 30px;
  left: 30px;
}
.item3 {
  background-color: #ff7c7c;
  top: 60px;
  left: 60px;
  z-index: 5;
}
