<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
  </head>
  <body>
    <h1>여기는 홈</h1>
    <a href="/comments">댓글 목록 보기</a>
    <a href="/user">회원 보기</a>
  </body>
</html>
