<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include', { title: '홈' }) %>
</head>

<body>
  <%- include('header') %>

  <h1>세션 실습</h1>
  <p>여기는 홈입니다!</p>

  <% if (isLogin) { %>
  <p><%= user %>님 환영합니다!!!!</p>
  <% } else { %>
  <p>로그인을 아직 하지 않으셨군요! 로그인을 진행해보세요!</p>
  <% } %>
</body>

</html>