:root {
  --height-header: 80px;
  --color-primary: rgb(119, 164, 255);
  --color-secondary: rgb(123, 123, 123);
  --color-white: rgb(243, 247, 255);
  --shadow-black: rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.PostList header {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-shadow: 2px 2px 4px var(--shadow-black);
  height: var(--height-header);
  line-height: var(--height-header);
  font-size: 28px;
  font-weight: 700;
}

.PostItem {
  text-align: left;
  width: 50%;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px var(--shadow-black);
  border-radius: 10px;
  padding: 20px 30px;
  margin: 40px auto;
}

.PostItem .id {
  font-weight: 500;
  margin-right: 8px;
  color: var(--color-primary);
}

.PostItem .title {
  color: rgb(123, 123, 123);
}

.PostItem .body {
  font-size: 20px;
}

.PostItem:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: transform 0.4s;
}

.PostItem:hover .id,
.PostItem:hover .title {
  font-weight: 700;
}

@media (max-width: 768px) {
  .PostItem {
    width: 90vw;
  }
}
