@import '~include-media/dist/include-media';

// breakpoint 변수 선언
$breakpoint-md: 768px;
$breakpoint-sm: 532px;

// ver1. flex
// .Prob4 {
//   display: flex;

//   div {
//     width: 20%;

//     img {
//       width: 100%;
//       aspect-ratio: 1 / 1; // 종횡비
//       object-fit: cover;
//     }
//   }
// }

// @include media('<#{$breakpoint-md}') {
//   .Prob4 {
//     flex-wrap: wrap;

//     div {
//       width: 33.3%;
//     }
//   }
// }

// @include media('<#{$breakpoint-sm}') {
//   .Prob4 {
//     div {
//       width: 100%;
//     }
//   }
// }

// ver2. grid
.Prob4 {
  display: grid;
  // grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  // grid-template-columns: 100px 200px 300px 200px 100px;
  // grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-columns: repeat(5, 1fr);

  div {
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

@include media('<#{$breakpoint-md}') {
  .Prob4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media('<#{$breakpoint-sm}') {
  .Prob4 {
    // grid-template-columns: repeat(1, 1fr);
    display: block;
  }
}
